pkgbase = libcrash-js
	pkgdesc = A collection of javascript utility functions.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/crash-js
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = nodejs
	provides = nodejs-crash-js=0.0.0.0.0.0.0.0.0.0.0.0.1.1
	provides = crash-js=0.0.0.0.0.0.0.0.0.0.0.0.1.1
	source = crash-js-020ade6d1602793cb58c6940e92bae5212e541b5.zip::https://github.com/themartiancompany/crash-js/archive/020ade6d1602793cb58c6940e92bae5212e541b5.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = 471708ef47cfc0995efe02c5e85668be8760bcc3567d46691be82f789c795c44

pkgname = libcrash-js
